/* Dette er en kommentar i CSS */

/* Endre bakgrunnsfarge eller bytte til GIF som bakgrunn */

body {
    /*background-color: lightblue;*/
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)
  }

p {
    color: white;
    font-size: 40px;
    text-align: center;
}

h1, h2 {
    color: white;
    font-size: 60px;
    text-align: center;
}

ul li {
    background: #cce5ff;
    color: darkblue;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 20px;
  }



